html{
  background-repeat: none;
}
body{
  background: linear-gradient(to bottom right, magenta, cyan);

}
#mem-game div {
  height: 100px;
  width: 200px;
  margin:50px;
  margin-left:40px;
  display: inline-block;
 
  
}

h1{
  text-align: center;
}
